.container {
    height: 80vh;
    overflow: hidden;
}

.background {
    background: url("/img/PXL_20220613_225011729.MP6_-scaled.jpg") bottom;
    background-size: 200%;
    position: absolute;
    left: 0;
    right: 0;
    height: 80vh;
    z-index: 2;
    animation: backgroundScroll 80s infinite alternate-reverse;
    animation-timing-function: ease-in;
}

.content {
    /*color: var(--foreground-inverted-color);*/
    position: relative;
    z-index: 3;
}

@keyframes backgroundScroll {
    from {
        left: 0px;
    }
    to {
        left: -500px;
    }
}