.container {
    height: 36em;
    /*overflow: hidden;*/
}

.background {
    background: url("/img/PXL_20220613_225011729.MP6_-scaled.jpg") bottom;
    background-size: 120vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 36em;
    z-index: 2;
    animation: backgroundScroll 50s infinite alternate-reverse;
    animation-timing-function: ease-in-out;
}

.content {
    /*color: var(--foreground-inverted-color);*/
    position: relative;
    z-index: 3;
}

@keyframes backgroundScroll {
    from {
        background-size: 120vh;
        /*top: 0;*/
        /*left: -400px;*/
        /*right: 0;*/
    }
    to {
        background-size: 240vh;
        /*top: -1000px;*/
        /*left: 0;*/
        /*right: -400px;*/
    }
}