
.heroBackgroundImg {
    animation: backgroundScroll 50s infinite alternate;
    animation-timing-function: linear;
}



@keyframes backgroundScroll {
    from {
        filter: sepia(75%) saturate(215%) hue-rotate(93deg);
        transform: scale3d(200%, 200%, 200%);
    }
    to {
        filter: sepia(25%) saturate(215%) hue-rotate(93deg);
        transform: scale3d(100%, 100%, 100%);
    }
}
