.heroContainer {
    /*position: relative;*/
    /*height: 34em;*/
    /*width: 100%;*/
    /*left: 0;*/
    /*margin: 0;*/
    /*overflow: hidden;*/
}

.heroBackgroundImg {
    /*background: url("/img/PXL_20220613_225011729.MP6_-scaled.jpg") bottom;*/
    /*background-size: 120vh;*/
    /*position: absolute;*/
    /*height: 36em;*/
    /*object-position: center bottom;*/
    /*z-index: 2;*/
    animation: backgroundScroll 50s infinite alternate-reverse;
    animation-timing-function: linear;
}

.heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*color: var(--foreground-inverted-color);*/
    position: relative;
    z-index: 3;
}


@keyframes backgroundScroll {
    from {
        /*background-size: 160vh;*/
        object-position: 0% 0%;
        /*top: 0;*/
        /*left: -400px;*/
        /*right: 0;*/
    }
    to {
        object-position: 100% 100%;
        /*background-size: 300vh;*/
        /*top: -100vh;*/
        /*left: 0;*/
        /*right: -400px;*/
    }
}
