@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: rgb(95, 95, 95);
    --background-color: white;
    --gold-color: #d59900;
    --foreground-inverted-color: white;
    --background-inverted-color: black;
    font-size: 17px;
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

/* Style invalid required inputs when in focus */
input:required:focus:invalid {
    border-color: red; /* Example: change border color for invalid input */
}

html {
    /*font-size: 10px;*/

    scroll-behavior: smooth;
}

body {
    color: var(--foreground-color);
    background: var(--background-color);
}


footer {
    width: 100%;
    color: var(--foreground-inverted-color);
    background-color: var(--background-inverted-color);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.inverted-color {
    color: var(--foreground-inverted-color);
    background-color: var(--background-inverted-color);
}

@media screen and (min-width: 1200px) {
    article {
        max-width: 1000px;
    }
}

/** Anchor Links **/

:target {
    scroll-margin-top: 24px;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

ul {
    list-style: disclosure-closed;
    margin-left: 16px;
}

p {
    text-align: justify;
    font-style: normal;
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    white-space: break-spaces;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}

/* unvisited link */
a:link {
    color: #7979ff;
}

/* visited link */
a:visited {
    color: purple;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
