@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-color: rgb(78, 78, 78);
    --background-color: white;
}

/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --foreground-rgb: 255, 255, 255;*/
/*        --background-start-rgb: 0, 0, 0;*/
/*        --background-end-rgb: 0, 0, 0;*/
/*    }*/
/*}*/

html {
    font-size: 10px;

}

body {
    color: var(--foreground-color);
    background: var(--background-color);
    margin: 10px;

}

article {
    max-width: 1000px;
    margin: auto;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

ul {
    list-style: disclosure-closed;
    margin-left: 16px;
}

ul > li,
p {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

