.hideOnMobile {
    @media screen and ( max-width: 480px ) {
        display: none !important;
    }
}

.hideOnTablet {
    @media screen and ( max-width: 900px ) {
        display: none !important;
    }
}
